* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    max-width:  1440px;
    min-width: 375px;
}

.outterdiv {
    width: 340px;
    height:410px;
    border-right :0.5rem solid black;
    border-bottom: 0.5rem solid black;
    border-top:2px solid black ;
    border-left:2px solid black ;
   position:relative;
   /* left: 35%; */
   /* right:-45%; */
   background-color:#ffff;
   border-radius: 1rem;
   margin-top: 10.5%; 
    /* 0 12% 0; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 18px;
}
.content  {
/* background-size:cover; */
background-repeat: no-repeat;
background-size: contain;
background-image: url(/illustration-article.svg);
 width: 293px;
height: 179px; 
border-radius: inherit;

}

.button {
    position: absolute;
    top:210px;
   
}

.input {
    width: 69px;
    height:25px;
    padding-bottom: 5px;
    padding-top: 2px;
    color: #000;
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
}

.para {
    position: absolute;
    top: 245px;
}

.heading {
    position: absolute;
    top:272px;
}

.imgg  {
    position: absolute;
    top : 365px;
    
    height: 35px;
    width: 23px;
    background-image: url(/image-avatar.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.p {
  width:fit-content;
  
  position: absolute;
  left:50px;
  top : 365px;
}

.center {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

@media (max-width: 1440px) {
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1024px) {
    

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media (max-width:320px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

}

@media (max-width:76px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

}